node_modules/
sync_microservices/node_modules/
.env
sync_microservices/.env
*.log
sync_microservices/*.log
queue.json
sync_microservices/queue.json
failed_queue.json
sync_microservices/failed_queue.json
.DS_Store
.idea/
.vscode/

# Отладочные и временные файлы
*.txt
*.rar
*.md
!sync_microservices/*.md
Work_and_tested.js
clear_webhooks.js
extract_data.js
mutations.js
ostatok.js
test.js
sync.js
setup_webhook.js
tested/
